<div class="mh-a w-80-l w-80-m bg-black-40 mh4 mv4 pa4 br3">
    <div class=" flex">
        <h2 class=" code dark-vanilla mr4-l mr4-m"><i class=" bi <%= section.logo%>"></i> <%= modelName %> </h2>
        <span class="code dark-vanilla mv-a"><%= model.path %> </span>
    </div>
    <div class="flex-grow-1">
        <% for( const req in model.routes ) { %>
        <%- include('./request.ejs', { req: model.routes[req].route, modelPath : model.path }) %>
        <% } %>
    </div>
</div>