<div class=" ">
    <div class=" flex">
        <div class=" flex mr4-l mr4-m br2 mv2 methods methods-<%=Object.keys(req.methods)[0] %> code white ">
            <p class=" ma-a f4">
                <%=Object.keys(req.methods)[0] %>
            </p>
        </div>
        <p class="<%=Object.keys(req.methods)[0] %> code "><%= modelPath + req.path %> </p>
    </div>
</div>